<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88180605167-q5mtmq0h2n483s37mhf1juqmc4u8ch4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88180605167-q5mtmq0h2n483s37mhf1juqmc4u8ch4m</string>
	<key>API_KEY</key>
	<string>AIzaSyAa2_cySblFxwSgKA77xliDc-wOS2ZkJv8</string>
	<key>GCM_SENDER_ID</key>
	<string>88180605167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wexford.MariaAppUser</string>
	<key>PROJECT_ID</key>
	<string>mariaapp-e4b85</string>
	<key>STORAGE_BUCKET</key>
	<string>mariaapp-e4b85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:88180605167:ios:a59bcfa6c1459be9</string>
	<key>DATABASE_URL</key>
	<string>https://mariaapp-e4b85.firebaseio.com</string>
</dict>
</plist>